<% html_options = {:multipart => @multipart} %>
<% @partial_form  ||= "form" %>
<% @title_form    ||= "#{t("form.new")} #{t("activerecord.models.#{resource_class}")}" %>

<div class="title" >
  <h2 class="title">
    <%= @title_form %>
  </h2>
</div>           
<div class="form-horizontal">
  <%= simple_nested_form_for resource, :as => resource_instance_name, :url => collection_path, :html => html_options do |f| -%>
    <%= render :partial => "layouts/error_messages", :locals => {:f => f}  %>
  
    <%= render :partial => @partial_form, :locals => {:f => f} %>

    <% if content_for?(:form_buttons) %>
      <%= content_for(:form_buttons) %>
    <% else %>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit" data-disable-with="<%= t("form.saving") %>" ><%= t("form.save", :default => "Save") %></button>

        <%= link_to t("form.cancel", :default => "Cancel"), collection_path, :class => "btn" %>
      </div>
    <% end %>
  <% end -%>
</div>


